<div>
  <h1>My app</h1>
  <!-- <p>{{counter}}</p> -->
  <div>
    <button (click)="decrement()">Subtract in child component</button><br><br>
    <button (click)="increment()">Addition in child component</button><br><br>
    <a (click)="updateValue()">Update in child component</a><br>
    <a (click)="addValue()">Add in child component</a>
    <p>{{output}}</p><hr>
    <app-child [myNewNumber]="number" [myName]="user" [myArray]="arr" (valueChanged)=displayCounter($event)>
      <h1>Something</h1>
    </app-child>
    
  </div>
</div>